html {
  font-size: 62.5%;
  /* box-sizing: border-box; */
}
body {
  background-color: #f5f3f3;
}
h1 {
  text-align: center;
}
h2 {
  font-size: 3rem;
}
h4 {
  font-size: 16px;
  font-weight: 700;
}
header {
  padding: 20px 0 0 0;
  background: white;
  text-align: center;
}

.borrar-producto {
  background-color: red;
  border-radius: 50%;
  padding: 5px 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

ul,
li {
  list-style: none;
}

#encabezado {
  margin: 30px 0;
}
.submenu {
  position: relative;
}

.submenu #carrito {
  display: none;
}
.submenu:hover #carrito {
  display: block;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1;
  background-color: white;
  padding: 20px;
  min-height: 400px;
  min-width: 300px;
}

#logo {
  max-width: 200px;
}

.barra {
  display: flex;
  flex-direction: row;
  background-color: black;
  justify-content: center;
  text-align: center;
}
.barra p {
  color: white;
  text-align: center;
}
.icono {
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 60px;
  background-size: 30px;
  margin-bottom: 40px;
  text-align: center;
}

.icono p {
  font-size: 2rem;
}
.icono1 {
  background-image: url(../img/icono-rapida-entrega-hamilton.png);
}
.icono2 {
  background-image: url(../img/icono-alta-calidad-hamilton.png);
}
.icono3 {
  background-image: url(../img/icono-stock-disponible-hamilton.png);
}

#lista-herramientas .row {
  margin-bottom: 20px;
}
.agregar-carrito {
  margin: 10px 0;
}

.verInsumos{
  margin-top: 20px;
}
.card {
  text-align: center;
  border: 1px solid #e1e1e1;
  background: white;
  
}

.info-card {
  padding: 10px;
  margin-bottom: 10px;
}

.info-card p,
.card h4 {
  margin-bottom: 5px;
}
.info-card .precio {
  text-decoration: line-through;
  font-size: 18px;
  margin-top: 10px;
}
.info-card .precio span {
  font-weight: 700;
  font-size: 22px;
}
.footer {
  margin-top: 40px;
  border-top: 1px solid #aaa;
  padding-top: 40px;
}
.footer .menu a {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
}

@media (min-width: 750px) {
  .icono {
    margin-bottom: 0;
  }
}
@media (min-width: 550px) {
  .card {
    text-align: left;
  }
}
@media (min-width: 750px) {
  header {
    text-align: left;
  }
}
